<h2>Ваша корзина</h2>

<table class="table table-striped">
 <thead>
  <tr>
   <th>#</th> <th> Название</th> <th>Цена</th> <th>Количество</th> 
   </tr> </thead> <tbody>
<% @items.each do |item| %>


    <tr> <th> 2 </th>
     <td><%=item[0].title %></td> 
      <td><%=item[0].price %></td>
       <td><%=item[1] %></td> 
   </tr>
   <%end%>
    </tbody> 
    </table>